<%=provide(:title,'Sign in')%>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset2">
    <%= simple_form_for(:session, url: sessions_path, :html => { :class => 'form-horizontal' }) do |f| %>
      
      <%= f.input :email, :wrapper => :prepend, :label => false do %>
          <%= content_tag :span, :class => "input-prepend add-on" do %>
             <i class="icon-envelope icon-black"></i>
          <% end %>
          <%= f.input_field :email, placeholder: "Email", maxlength: "50" %>
      <% end %>
      
      <%= f.input :password, :wrapper => :prepend, :label => false do %>
          <%= content_tag :span, :class => "input-prepend add-on" do %>
             <i class="icon-cog icon-black"></i>
          <% end %>
          <%= f.input_field :password, placeholder: "Password", maxlength: "50" %>	
      <% end %>	

      <%= f.button :submit, "Sign in", class: " offset3 input-prepend add-on btn btn-large btn-primary" %>
      
      <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true %>
      
      <p class = "offset3"><%= link_to("forgot password?", new_password_reset_path ) %></p>

      <p class = "offset3"> New User? <%= link_to("Sign up", signup_path) %></p>
      
    <% end %>
  </div>
</div>