<%=provide(:title,'Password reset request')%>
<h1>Password Reset request</h1>
<div class="row">
  <div class="span6 offset2">
    <%= simple_form_for(:password_reset, url: password_resets_path, :html => { :class =>'form-horizontal' }) do |f| %>
      
      <%= f.input :email, :wrapper => :prepend, :label => false do %>
          <%= content_tag :span, :class => "input-prepend add-on" do %>
             <i class="icon-envelope icon-black"></i>
          <% end %>
          <%= f.input_field :email, required: true, placeholder: "Email", maxlength: "50" %>
      <% end %>

      <%= f.button :submit, "Reset password", class: " offset3 input-prepend add-on btn btn-large btn-primary" %>
      
    <% end %>
  </div>
</div>