<br>
<div class="row">
  <div class="span4">
    <%= form_for(:yummly_recipe, :url => url_for(:controller => 'yummly_recipes', :action => 'index'),
        :method => 'get', :html => { :class => 'well form-inline' }) do |f| %>
    <div class="control-group">
      <%= f.label :containing, "Search recipes containing", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :containing, placeholder: "Key words (separated by comma)" %> 
      </div>
    </div>  
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Search", class: "btn btn-primary" %>
        &nbsp&nbsp<%= link_to "Advanced Search", yummly_recipe_path, class: "text-right" %>
      </div>
    </div>
  
    <% end %>
  </div>
</div>
