<%=provide(:title,'Search recipe')%>
<h1>Search for Secret Recipes</h1>

<div class="row">
  <div class="span6 offset3 well">
    <%= form_for(:yummly_recipe, :url => url_for(:controller => 'yummly_recipes', :action => 'index'),
        :method => 'get', :html => { :class => 'form-horizontal' }) do |f| %>
        
        <div class="control-group">
          <%= f.label :containing, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :containing, placeholder: "Key words (separated by comma)" %> 
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :ingredients_included, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :ingredients_included, placeholder: "Recipes must contain" %> 
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :ingredients_excluded, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :ingredients_excluded, placeholder: "Recipes must NOT contain" %> 
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :max_total_time_hr, "Max Total Time", class: "control-label" %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">Hr</span>
              <%= f.select :max_total_time_hr,   [1, 2, 3, 4, 5, 6, 7, 8], include_blank: true, class:  "span2" %>
            </div>
            <div class="input-prepend">
              <span class="add-on">Min</span>
              <%= f.select :max_total_time_min,   [15, 30, 45], include_blank: true, class: "span1" %>
            </div>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :max_calories, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :max_calories, class: "span2" %> 
          </div>
        </div>

        <div class="control-group">
          <%= f.label :allowed_course, "Courses", class: "control-label" %>
          <div class="controls">
            <% course_array =  [   
                                  ["Soups","course^course-Soups"],
                                  ["Salads","course^course-Salads"],
                                  ["Main Dishes","course^course-Main Dishes"],
                                  ["Side Dishes","course^course-Side Dishes"],
                                  ["Lunch and Snacks","course^course-Lunch and Snacks"], 
                                  ["Desserts","course^course-Desserts"],
                                  ["Breakfast and Brunch","course^course-Breakfast and Brunch"],
                                  ["Appetizers","course^course-Appetizers"],
                                  ["Breads","course^course-Breads"],
                                  ["Beverages","course^course-Beverages"],
                                  ["Condiments and Sauces","course^course-Condiments and Sauces"],
                                  ["Cocktails","course^course-Cocktails"],
                                  ["Beverages","course^course-Beverages"]
                                ] %>
            <%= f.select :allowed_course, options_for_select(course_array), { :prompt => "Please select"},
                                      { :multiple => true, :size => 4, :include_blank => true } %>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :allowed_cuisine, "Cuisine", class: "control-label" %>
          <div class="controls">
            <% cuisine_array =  [ 
                                  ["Italian","cuisine^cuisine-italian"],
                                  ["American","cuisine^cuisine-american"],
                                  ["Asian","cuisine^cuisine-asian"],
                                  ["Chinese","cuisine^cuisine-chinese"],
                                  ["Japanese","cuisine^cuisine-japanese"],
                                  ["Thai","cuisine^cuisine-thai"],
                                  ["Indian","cuisine^cuisine-indian"],
                                  ["Mexican","cuisine^cuisine-mexican"],
                                  ["Barbecue","cuisine^cuisine-barbecue-bbq"],
                                  ["Cajun & Creole","cuisine^cuisine-cajun"],
                                  ["Mediterranean","cuisine^cuisine-mediterranean"],
                                  ["Greek","cuisine^cuisine-greek"], 
                                  ["French","cuisine^cuisine-french"],
                                  ["English","cuisine^cuisine-english"],
                                  ["Spanish","cuisine^cuisine-spanish"],
                                  ["German","cuisine^cuisine-german"],
                                  ["Moroccan","cuisine^cuisine-moroccan"],
                                  ["Irish","cuisine^cuisine-irish"],
                                  ["Cuban","cuisine^cuisine-cuban"],
                                  ["Hawaiian","cuisine^cuisine-hawaiian"],
                                  ["Swedish","cuisine^cuisine-swedish"],
                                  ["Hungarian","cuisine^cuisine-hungarian"],
                                  ["Portuguese","cuisine^cuisine-portuguese"],
                                  ["Southern & Soul Food","cuisine^cuisine-southern"],
                                  ["Southwestern","cuisine^cuisine-southwestern"]
                                ] %>
            <%= f.select :allowed_cuisine, options_for_select(cuisine_array), { :prompt => "Please select"},
                                      { :multiple => true, :size => 4, :include_blank => true } %>
          </div>
        </div>
        

        <div class="control-group">
          <%= f.label :allowed_allergy, "Allergy", class: "control-label" %>
          <div class="controls">
            <% allergy_array =  [ 
                                  ["Peanut","394^Peanut-Free"],
                                  ["Tree nut","395^TreeNut-Free"], 
                                  ["Sesame","399^Sesame-Free"],
                                  ["Dairy","396^Dairy-Free"],
                                  ["Eggs","397^Egg-Free"],
                                  ["Seafood","398^Seafood-Free"],
                                  ["Soy","400^Soy-Free"],
                                  ["Gluten","393^Gluten-Free"],
                                  ["Wheat","392^Wheat-Free"],
                                  ["Sulfite","401^Sulfite-Free"]
                                ] %>
            <%= f.select :allowed_allergy, options_for_select(allergy_array), { :prompt => "Please select"},
                                      { :multiple => true, :size => 4, :include_blank => true } %>
          </div>
        </div>
        


        
        <div class="form-actions">
            <%= f.submit "Search", class: "btn btn-primary" %>
            <%= f.button "Cancel", name: 'Cancel', class: "btn" %>
        </div>
      
    <% end %>
  </div>
</div>
