<%=provide(:title,'Secret recipe details')%>

<div class="row recipe_detail">
  <aside class="span4">
    <section>
        <%= image_tag((@yummly_recipe_detail.smallImageUrl || "http://placehold.it/90x60"), 
                alt: "Recipe Image") %>
        <strong>&nbsp<%= @yummly_recipe_detail.sourceDisplayName %></strong>
    </section>
  </aside>
  <div class="span8">
      <h1><%= @yummly_recipe_detail.name %></h1>
      <p class="center">
        <i class="icon-time icon-black"></i>&nbsp
        <%= distance_of_time_in_words(@yummly_recipe_detail.totalTimeInSeconds.to_f) %>
        | <i class= "icon-user icon-black"></i>&nbsp<%= @yummly_recipe_detail.numberOfServings.to_f.round %>&nbsp  servings
        <% unless @yummly_recipe_detail.calories.blank? %>
          | <i class="icon-fire icon-black"></i>&nbsp<%=  (@yummly_recipe_detail.calories.to_f / 5.0).round * 5   %>&nbsp  calories 
          
          <!-- Button to trigger modal -->
          <% counter = 0 %>
          <a href="#myModal" role="button" class="btn" data-toggle="modal" data-target=<%="#myModal-#{counter}"%>>Add to Platter</a>
          <!-- selection_counter is used to identify the target div element whose id is dynamically generated in add_to_platter partial-->
          <%= render partial: 'shared/add_to_platter', 
                  locals: { recipe_ref: @yummly_recipe_detail.id, 
                            recipe_name: @yummly_recipe_detail.name, 
                            ingredients:       @yummly_recipe_detail.ingredientLines.to_sentence,
                            small_image_url:      @yummly_recipe_detail.smallImageUrl,
                            total_time_in_seconds: @yummly_recipe_detail.totalTimeInSeconds.to_i,
                            source_display_name:  @yummly_recipe_detail.sourceDisplayName,
                            source: ENV["SOURCE_YUMMLY"], 
                            modal_counter: counter } %>
          <!-- modal_counter is used to dynamically generate the id of target div element in add_to_platter partial -->

        <% end %>
      </p>    
   </div>
</div>
<div class="row recipe_detail">
  <div class="span4">
   <h2></h2>
    <%= render 'recipe_photo' %>
  </div>
  <script>
    $("#replace_with_nutrition_facts").click(function() {
         $("#recipe_photo").replaceWith("<%= escape_javascript(render('nutrition_facts')) %>");
         console.log('clicked');
    });
  </script>
  <div class="span4">
     <h2>Ingredients</h2>
     <ul>
       <% @yummly_recipe_detail.ingredientLines.each do |ingredient_line| %>
         <li>
          <%= ingredient_line %> 
         </li>
        <% end %>
     </ul> 
  </div>
  <div class="span4">
     <h2>Directions</h2>
     <% @directions_count = 0 %>
     <% if directions_available_for?(@yummly_recipe_detail.sourceSiteUrl) %>
       <%= render 'directions', directions_count: @directions_count %>
     <% end %>
     <% if @directions_count > 0 %>
        <br><div class="center"><p><%= link_to("More info @ #{@yummly_recipe_detail.sourceDisplayName}", 
                    "#{@yummly_recipe_detail.sourceRecipeUrl}", class: "btn btn-small btn-info") %></p></div>
     <% else %>
       <br><div class="center"><p><%= link_to("Directions @ #{@yummly_recipe_detail.sourceDisplayName}", 
                   "#{@yummly_recipe_detail.sourceRecipeUrl}", class: "btn btn-primary") %></p></div>
     <% end %>
  </div>
</div>



