<% provide(:title, @platter.name) %>
<h1><%= @platter.name %></h1>

<% if @platter.selections.any? %>
  <h3>Recipes (<%= @platter.selections.count %>)</h3>
  <ul class="users">
    <%= render @selections %>
  </ul>
  <%= will_paginate @selections %>
<% end %>
<br>


<% if current_user?(@platter.user) %>
<div class="row">
  <div class="span12 center">
    <%= link_to  "Delete Platter", platter_path(@platter),  class: "btn btn-danger", method: :delete,
                                         data: { confirm: "Are you sure you want to delete this recipe?" } %>
  </div>
</div>
<% end %>